.news-title {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  .news-link {
    text-decoration: none;
    color: #007bff; 
    display: block;
    margin-bottom: 10px;
  }
  
  .image-container {
    display: inline-flex; 
    align-items: center;
  }
  
  .news-image {
    max-width: 250px; 
    height: auto;
    margin-left: 10px; 
  }
  